dt{font-weight: bold;color: darkcyan;}
div.box{
    width: 300px;
    border: 2px solid darkcyan;
    padding: 10px;
    margin: 10px;
    margin-left: 10px;
    float: left;
    border-radius: 10px;
}
h2{font-size: 16px;color: white;background-color: darkcyan;padding: 5px;margin-bottom: 20px;text-align: center;}