<div class="container">
    <div class="form-group">
        <h2>Product Grid</h2>
        <table class="table table-hover">
            <thead>
                <th>Name</th>
                <th>Price</th>
                <th>Photo</th>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{product.Name}}</td>
                    <td>{{product.Price}}</td>
                    <td class="text-center">
                        <img [src]="product.Photo" width="70" height="70" class="img-thumbnail">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group">
        <h2>Product Catalog</h2>
        <div class="card-deck">
            <div class="card" *ngFor="let product of products">
                <div class="card-header text-center">
                    <h2>{{product.Name}}</h2>
                </div>
                <div class="card-body text-center">
                    <img [src]="product.Photo" width="150" height="150" class="img-thumbnail">
                </div>
                <div class="card-footer text-center">
                    <h3>&#8377; {{product.Price}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
